<%- include('../partials/header') %>
<section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs.toLocaleString() %></div>
</section>
<h2>Add a Destination</h2>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label>Arrival Date and Time:</label>
    <input type="datetime-local" name="arrival">
    <button type="submit">Add Destination</button>
</form>
<% if (flight.destinations.length) { %>
<table>
    <thead>
        <tr>
            <th>Airport</th>
            <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
            <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival.toLocaleString() %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
    <h5>No Destinations</h5>
<% } %>
<h2>Tickets</h2>
<a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
<% if(tickets.length) { %>
    <table>
        <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach(function(t) { %>
                <tr>
                    <td><%= t.seat %></td>
                    <td><%= t.price %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<%} else {%>
    <h5>No tickets</h5>
<% } %>




<%- include('../partials/footer') %>
